New folder/DoAn6/Connected Services/ServiceReference2/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HelloWorldResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getdata">
        <s:complexType />
      </s:element>
      <s:element name="getdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getdataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccount">
        <s:complexType />
      </s:element>
      <s:element name="getAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInformationDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInformationDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInformationDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInformationEmplayee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInformationEmplayeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInformationEmplayeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaphongban">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenPB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaphongbanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMaphongbanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaChucVu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenCV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaChucVuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMaChucVuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="manv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tennv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioitinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trinhdo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaysinh" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="honnhn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="socmnn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="que" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phongban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTinhTrang">
        <s:complexType />
      </s:element>
      <s:element name="getTinhTrangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTinhTrangResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaNVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportEmployeesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTest">
        <s:complexType />
      </s:element>
      <s:element name="DeleteTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInformationNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maNV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInformationNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInformationNhanVienResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getdataSoapIn">
    <wsdl:part name="parameters" element="tns:getdata" />
  </wsdl:message>
  <wsdl:message name="getdataSoapOut">
    <wsdl:part name="parameters" element="tns:getdataResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountSoapIn">
    <wsdl:part name="parameters" element="tns:getAccount" />
  </wsdl:message>
  <wsdl:message name="getAccountSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getInformationDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:getInformationDepartment" />
  </wsdl:message>
  <wsdl:message name="getInformationDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:getInformationDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="getInformationEmplayeeSoapIn">
    <wsdl:part name="parameters" element="tns:getInformationEmplayee" />
  </wsdl:message>
  <wsdl:message name="getInformationEmplayeeSoapOut">
    <wsdl:part name="parameters" element="tns:getInformationEmplayeeResponse" />
  </wsdl:message>
  <wsdl:message name="getMaphongbanSoapIn">
    <wsdl:part name="parameters" element="tns:getMaphongban" />
  </wsdl:message>
  <wsdl:message name="getMaphongbanSoapOut">
    <wsdl:part name="parameters" element="tns:getMaphongbanResponse" />
  </wsdl:message>
  <wsdl:message name="getMaChucVuSoapIn">
    <wsdl:part name="parameters" element="tns:getMaChucVu" />
  </wsdl:message>
  <wsdl:message name="getMaChucVuSoapOut">
    <wsdl:part name="parameters" element="tns:getMaChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="insertSoapIn">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="insertSoapOut">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="getTinhTrangSoapIn">
    <wsdl:part name="parameters" element="tns:getTinhTrang" />
  </wsdl:message>
  <wsdl:message name="getTinhTrangSoapOut">
    <wsdl:part name="parameters" element="tns:getTinhTrangResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaNVSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaNV" />
  </wsdl:message>
  <wsdl:message name="GetMaNVSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaNVResponse" />
  </wsdl:message>
  <wsdl:message name="ImportEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ImportEmployees" />
  </wsdl:message>
  <wsdl:message name="ImportEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ImportEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTestSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTest" />
  </wsdl:message>
  <wsdl:message name="DeleteTestSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetInformationNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:GetInformationNhanVien" />
  </wsdl:message>
  <wsdl:message name="GetInformationNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:GetInformationNhanVienResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <wsdl:input message="tns:getdataSoapIn" />
      <wsdl:output message="tns:getdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <wsdl:input message="tns:getAccountSoapIn" />
      <wsdl:output message="tns:getAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInformationDepartment">
      <wsdl:input message="tns:getInformationDepartmentSoapIn" />
      <wsdl:output message="tns:getInformationDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInformationEmplayee">
      <wsdl:input message="tns:getInformationEmplayeeSoapIn" />
      <wsdl:output message="tns:getInformationEmplayeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaphongban">
      <wsdl:input message="tns:getMaphongbanSoapIn" />
      <wsdl:output message="tns:getMaphongbanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaChucVu">
      <wsdl:input message="tns:getMaChucVuSoapIn" />
      <wsdl:output message="tns:getMaChucVuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertSoapIn" />
      <wsdl:output message="tns:insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTinhTrang">
      <wsdl:input message="tns:getTinhTrangSoapIn" />
      <wsdl:output message="tns:getTinhTrangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaNV">
      <wsdl:input message="tns:GetMaNVSoapIn" />
      <wsdl:output message="tns:GetMaNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportEmployees">
      <wsdl:input message="tns:ImportEmployeesSoapIn" />
      <wsdl:output message="tns:ImportEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <wsdl:input message="tns:DeleteTestSoapIn" />
      <wsdl:output message="tns:DeleteTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInformationNhanVien">
      <wsdl:input message="tns:GetInformationNhanVienSoapIn" />
      <wsdl:output message="tns:GetInformationNhanVienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <soap:operation soapAction="http://tempuri.org/getdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <soap:operation soapAction="http://tempuri.org/getAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformationDepartment">
      <soap:operation soapAction="http://tempuri.org/getInformationDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformationEmplayee">
      <soap:operation soapAction="http://tempuri.org/getInformationEmplayee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaphongban">
      <soap:operation soapAction="http://tempuri.org/getMaphongban" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaChucVu">
      <soap:operation soapAction="http://tempuri.org/getMaChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTinhTrang">
      <soap:operation soapAction="http://tempuri.org/getTinhTrang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaNV">
      <soap:operation soapAction="http://tempuri.org/GetMaNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportEmployees">
      <soap:operation soapAction="http://tempuri.org/ImportEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <soap:operation soapAction="http://tempuri.org/DeleteTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformationNhanVien">
      <soap:operation soapAction="http://tempuri.org/GetInformationNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <soap12:operation soapAction="http://tempuri.org/getdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <soap12:operation soapAction="http://tempuri.org/getAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformationDepartment">
      <soap12:operation soapAction="http://tempuri.org/getInformationDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformationEmplayee">
      <soap12:operation soapAction="http://tempuri.org/getInformationEmplayee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaphongban">
      <soap12:operation soapAction="http://tempuri.org/getMaphongban" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaChucVu">
      <soap12:operation soapAction="http://tempuri.org/getMaChucVu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap12:operation soapAction="http://tempuri.org/insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTinhTrang">
      <soap12:operation soapAction="http://tempuri.org/getTinhTrang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaNV">
      <soap12:operation soapAction="http://tempuri.org/GetMaNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportEmployees">
      <soap12:operation soapAction="http://tempuri.org/ImportEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <soap12:operation soapAction="http://tempuri.org/DeleteTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformationNhanVien">
      <soap12:operation soapAction="http://tempuri.org/GetInformationNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44369/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44369/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>